<h5 class="fw-bold d-inline-block me-2">Cart Summary</h5>
<span class="fw-bold d-inline-block">({{ cart?.length }})</span>
<div class="table-responsive">
  <table class="table table-sm">
    <tbody>
      <tr>
        <td>Subtotal ({{ cart?.length }})</td>
        <td class="text-end">{{ getCartSubtotal() | currency }}</td>
      </tr>
      <tr>
        <td>Discount</td>
        <td class="text-end">{{ getCartDiscount() | currency }}</td>
      </tr>
      <tr>
        <td>Delivery</td>
        <td class="text-end">FREE</td>
      </tr>
      <tr>
        <td>Estimated Tax</td>
        <td class="text-end">{{ getTax() | currency }}</td>
      </tr>
    </tbody>
    <tfoot>
      <tr class="fw-bold" style="font-size: 18px">
        <td>Total</td>
        <td class="text-end">{{ getCartTotal() | currency }}</td>
      </tr>
    </tfoot>
  </table>
</div>
