@import 'ngx-toastr/toastr';

body {
    font-family: Roboto, sans-serif;
  }

a {
  cursor: pointer;
}
  
.appBtn {
  background-color: black !important;

  &:hover {
    opacity:80%;
  }
}

.alert {
  color: red !important;
}